.menu {
	width: 100%;
	height: 50px;
	display: table;
}
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
	background: #3CB371;
}


.menu ul li:hover, .menu a:hover {
	background: #DAA520;
}
.menu li a {
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	font-size: 14pt;
	font-family:'Oswald', sans-serif;
}

.left-sidebar{
    padding-top:90px;
    padding-left:10px;
    background-color:#DAA520;
    
}

.left-sidebar li {
    list-style-type: none;
    margin-bottom: 20px;
    
}

.left-sidebar li a{
   color:white;
   font-size: 14pt;
   
}

.col {
    padding-top:50px;
    padding-right:70px;
}

.col h2 {
    font-weight: 900;
    color: #3CB371;
    font-family:'Oswald', sans-serif;
}



.imgCenter {
    text-align:center;
}

footer{
    background-color:#3CB371;
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    width: 100%; 
}

footer img{
    float: right;
}

@media (max-width: 980px) {
  .left-sidebar {
    display: none;
  }
}